opencv-python-headless==4.8.1.78
streamlit  
numpy<2.0  # Important for TensorFlow compatibility
pillow
scikit-learn
tensorflow-cpu==2.16.1  # Use a more recent version that supports Python 3.12
google-generativeai
